@model RentalManagementSystem.Models.Tenants.Tenants

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tenants</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TenatId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenatId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Idno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Idno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
    </dl>

    <RadzenTemplateForm Data="@Model" TItem="RentalManagementSystem.Models.Tenants.Tenants" Submit="@OnSubmit">
        <div class="form-group">
            <RadzenButton ButtonType="ButtonType.Submit" Text="Delete" Style="float:right;" Icon="delete" />
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </RadzenTemplateForm>
</div>
