@model IEnumerable<RentalManagementSystem.ViewModels.TenantViewModel>

@{
    ViewData["Title"] = "ViewTenants";
}

<h1>ViewTenants</h1>

@{
    ViewData["Title"] = "View";
}

<div class="row">
    <RadzenButton Text="New" Icon="add_circle_outline" Style="float:right;width:fit-content" Click="@(args => NavigationManager.NavigateTo("Tenant/Create"))" />
</div>

<RadzenGrid Data="@Model" TItem="RentalManagementSystem.ViewModels.TenantViewModel" ColumnWidth="200px" AllowFiltering="true" AllowPaging="true" PageSize="10" AllowSorting="true">
    <Columns>
        <RadzenGridColumn TItem="RentalManagementSystem.ViewModels.TenantViewModel" Property="TenantId" Title="Tenant Id" />
        <RadzenGridColumn TItem="RentalManagementSystem.ViewModels.TenantViewModel" Property="Idno" Title="Id Number" />
        <RadzenGridColumn TItem="RentalManagementSystem.ViewModels.TenantViewModel" Property="Name" Title="Name" />
        <RadzenGridColumn TItem="RentalManagementSystem.ViewModels.TenantViewModel" Property="GenderName" Title="Gender" />
        <RadzenGridColumn TItem="RentalManagementSystem.ViewModels.TenantViewModel" Property="PhoneNo" Title="Phone Number" />
        <RadzenGridColumn TItem="RentalManagementSystem.ViewModels.TenantViewModel" Title="Actions">
            <Template Context="tenant">
                <RadzenButton Text="Edit" Icon="edit" Style="margin-right: 10px;" Click="@(args => NavigationManager.NavigateTo($"Tenant/Edit/{tenant.TenantId}"))" />
                <RadzenButton Text="Details" Icon="info" Style="margin-right: 10px;" Click="@(args => NavigationManager.NavigateTo($"Tenant/Details/{tenant.TenantId}"))" />
                <RadzenButton Text="Delete" Icon="delete" Click="@(args => NavigationManager.NavigateTo($"Tenant/Delete/{tenant.TenantId}"))" />
            </Template>
        </RadzenGridColumn>
    </Columns>
</RadzenGrid>

@section Scripts {
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {
            // Initialize DataTable
            var table = $('#rentalPropertiesTable').DataTable({
                orderCellsTop: true,
                fixedHeader: true,
                processing:true,
                initComplete: function () {
                    // Add search boxes for each column
                    var api = this.api();
                    api.columns().every(function () {
                        var column = this;
                        $('input', this.header()).on('keyup change clear', function () {
                            if (column.search() !== this.value) {
                                column
                                    .search(this.value)
                                    .draw();
                            }
                        });
                    });
                }
            });
        });
    </script>
}
