@model IEnumerable<RentalManagementSystem.Models.Rooms.Rooms>

@{
    ViewData["Title"] = "View";
}

<div class="row">
    <RadzenButton Text="New" Icon="add_circle" Style="float:right;width:fit-content" Click="@(args => NavigationManager.NavigateTo("Room/Create"))" />
</div>

<RadzenGrid Data="@Model" TItem="RentalManagementSystem.Models.Rooms.Rooms" ColumnWidth="200px" AllowFiltering="true" AllowPaging="true" PageSize="10" AllowSorting="true">
    <Columns>
        <RadzenGridColumn TItem="RentalManagementSystem.Models.Rooms.Rooms" Property="RoomId" Title="Room ID" />
        <RadzenGridColumn TItem="RentalManagementSystem.Models.Rooms.Rooms" Property="RoomType" Title="Room Type" />
        <RadzenGridColumn TItem="RentalManagementSystem.Models.Rooms.Rooms" Property="RentCost" Title="Rent Cost" />
        <RadzenGridColumn TItem="RentalManagementSystem.Models.Rooms.Rooms" Property="Deposit" Title="Deposit" />
        <RadzenGridColumn TItem="RentalManagementSystem.Models.Rooms.Rooms" Property="RoomNo" Title="Room No" />
        <RadzenGridColumn TItem="RentalManagementSystem.Models.Rooms.Rooms" Property="Status" Title="Status" />
        <RadzenGridColumn TItem="RentalManagementSystem.Models.Rooms.Rooms" Property="CreateDate" Title="Create Date" />
        <RadzenGridColumn TItem="RentalManagementSystem.Models.Rooms.Rooms" Title="Actions">
            <Template Context="item">
                <RadzenButton Text="Edit" Icon="edit" Style="margin-right: 10px" Click="@(args => NavigationManager.NavigateTo($"Room/Edit/{item.RoomId}"))" />
                <RadzenButton Text="Details" Icon="info" Style="margin-right: 10px" Click="@(args => NavigationManager.NavigateTo($"Room/Details/{item.RoomId}"))" />
                <RadzenButton Text="Delete" Icon="delete" Click="@(args => NavigationManager.NavigateTo($"Room/Delete/{item.RoomId}"))" />
            </Template>
        </RadzenGridColumn>
    </Columns>
</RadzenGrid>

@section Scripts {
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {
            // Initialize DataTable
            var table = $('#rentalPropertiesTable').DataTable({
                orderCellsTop: true,
                fixedHeader: true,
                processing:true,
                initComplete: function () {
                    // Add search boxes for each column
                    var api = this.api();
                    api.columns().every(function () {
                        var column = this;
                        $('input', this.header()).on('keyup change clear', function () {
                            if (column.search() !== this.value) {
                                column
                                    .search(this.value)
                                    .draw();
                            }
                        });
                    });
                }
            });

           
        });
    </script>
}
