@model IEnumerable<RentalManagementSystem.Models.RentalsProperties.RentalProperties>

@{
    ViewData["Title"] = "View";
}

<div class="row">
    <RadzenButton Text="New" Icon="add_circle" Style="float:right;width:fit-content" Click="@(args => NavigationManager.NavigateTo("Create"))" />
</div>

<RadzenGrid Data="@Model" TItem="RentalManagementSystem.Models.RentalsProperties.RentalProperties" ColumnWidth="200px" AllowFiltering="true" AllowPaging="true" PageSize="10" AllowSorting="true">
    <Columns>
        <RadzenGridColumn TItem="RentalManagementSystem.Models.RentalsProperties.RentalProperties" Property="PropertyId" Title="Property ID" />
        <RadzenGridColumn TItem="RentalManagementSystem.Models.RentalsProperties.RentalProperties" Property="Name" Title="Name" />
        <RadzenGridColumn TItem="RentalManagementSystem.Models.RentalsProperties.RentalProperties" Property="FloorLevels" Title="Floor Levels" />
        <RadzenGridColumn TItem="RentalManagementSystem.Models.RentalsProperties.RentalProperties" Property="Location" Title="Location" />
        <RadzenGridColumn TItem="RentalManagementSystem.Models.RentalsProperties.RentalProperties" Property="Description" Title="Description" />
        <RadzenGridColumn TItem="RentalManagementSystem.Models.RentalsProperties.RentalProperties" Property="Status" Title="Status" />
        <RadzenGridColumn TItem="RentalManagementSystem.Models.RentalsProperties.RentalProperties" Property="CreateDate" Title="Create Date" FormatString="{0:MM/dd/yyyy}" />
        <RadzenGridColumn TItem="RentalManagementSystem.Models.RentalsProperties.RentalProperties" Title="Actions">
            <Template Context="item">
                <RadzenButton Text="Edit" Icon="edit" Click="@(args => NavigationManager.NavigateTo($"Edit/{item.PropertyId}"))" />
                <RadzenButton Text="Details" Icon="info" Click="@(args => NavigationManager.NavigateTo($"Details/{item.PropertyId}"))" />
                <RadzenButton Text="Delete" Icon="delete" Click="@(args => NavigationManager.NavigateTo($"Delete/{item.PropertyId}"))" />
            </Template>
        </RadzenGridColumn>
    </Columns>
</RadzenGrid>

@section Scripts {
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {
            // Initialize DataTable
            var table = $('#rentalPropertiesTable').DataTable({
                orderCellsTop: true,
                fixedHeader: true,
                processing:true,
                initComplete: function () {
                    // Add search boxes for each column
                    var api = this.api();
                    api.columns().every(function () {
                        var column = this;
                        $('input', this.header()).on('keyup change clear', function () {
                            if (column.search() !== this.value) {
                                column
                                    .search(this.value)
                                    .draw();
                            }
                        });
                    });
                }
            });

           
        });
    </script>
}
