@model IEnumerable<RentalManagementSystem.Models.Rooms.Rooms>

@{
    ViewData["Title"] = "ViewRooms";
}

<h1>ViewRooms</h1>

<p>
    <RadzenButton Text="Create New" Click="@(() => NavigationManager.NavigateTo("Create"))" />
</p>
<RadzenGrid Data="@Model" TItem="RentalManagementSystem.Models.Rooms.Rooms" ColumnWidth="200px">
    <Columns>
        <RadzenGridColumn TItem="RentalManagementSystem.Models.Rooms.Rooms" Property="RoomId" Title="Room ID" />
        <RadzenGridColumn TItem="RentalManagementSystem.Models.Rooms.Rooms" Property="FloorNo" Title="Floor No" />
        <RadzenGridColumn TItem="RentalManagementSystem.Models.Rooms.Rooms" Property="RoomNo" Title="Room No" />
        <RadzenGridColumn TItem="RentalManagementSystem.Models.Rooms.Rooms" Property="RentCost" Title="Rent Cost" />
        <RadzenGridColumn TItem="RentalManagementSystem.Models.Rooms.Rooms" Property="Deposit" Title="Deposit" />
        <RadzenGridColumn TItem="RentalManagementSystem.Models.Rooms.Rooms" Property="RoomType" Title="Room Type" />
        <RadzenGridColumn TItem="RentalManagementSystem.Models.Rooms.Rooms" Property="Status" Title="Status" />
        <RadzenGridColumn TItem="RentalManagementSystem.Models.Rooms.Rooms" Property="CreateDate" Title="Create Date" />
        <RadzenGridColumn TItem="RentalManagementSystem.Models.Rooms.Rooms" Title="Actions">
            <Template Context="room">
                <RadzenButton Text="Edit" Click="@(() => NavigationManager.NavigateTo($"Edit/{room.RoomId}"))" />
                <RadzenButton Text="Details" Click="@(() => NavigationManager.NavigateTo($"Details/{room.RoomId}"))" />
                <RadzenButton Text="Delete" Click="@(() => NavigationManager.NavigateTo($"Delete/{room.RoomId}"))" />
            </Template>
        </RadzenGridColumn>
    </Columns>
</RadzenGrid>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@code {
    [Inject]
    protected NavigationManager NavigationManager { get; set; }
}
