@model IEnumerable<RentalManagementSystem.Models.RoomCapacity.RoomType>

@{
    ViewData["Title"] = "ViewRoomCapacity";
}

<h1>ViewRoomCapacity</h1>

<p>
    <RadzenButton Text="Create New" Click="@(args => NavigationManager.NavigateTo("Create"))" />
</p>
<RadzenGrid Data="@Model" TItem="RentalManagementSystem.Models.RoomCapacity.RoomType" ColumnWidth="200px">
    <Columns>
        <RadzenGridColumn TItem="RentalManagementSystem.Models.RoomCapacity.RoomType" Property="CapacityId" Title="Capacity Id" />
        <RadzenGridColumn TItem="RentalManagementSystem.Models.RoomCapacity.RoomType" Property="Description" Title="Description" />
        <RadzenGridColumn TItem="RentalManagementSystem.Models.RoomCapacity.RoomType" Title="Actions">
            <Template Context="item">
                <RadzenButton Text="Edit" Click="@(args => NavigationManager.NavigateTo($"Edit/{item.CapacityId}"))" />
                <RadzenButton Text="Details" Click="@(args => NavigationManager.NavigateTo($"Details/{item.CapacityId}"))" />
                <RadzenButton Text="Delete" Click="@(args => NavigationManager.NavigateTo($"Delete/{item.CapacityId}"))" />
            </Template>
        </RadzenGridColumn>
    </Columns>
</RadzenGrid>
